@import 'variables';

:host {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    color: white;
    padding: 2rem;

    a {
      text-decoration: none;
    }

    h1 {
      font-size: 2rem;
      margin: 0rem 2rem;
      color: white;
      text-align: center;
      font-size: 2rem;
    }
  }
}
