.list-header {
  font-weight: bold;
}
li{
  list-style: none;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}