<h2>Parcel List</h2>
<input
  type="text"
  id="search"
  name="search"
  placeholder="Search parcels..."
  [(ngModel)]="searchTerm"
  class="search-input"
/>
<table>
  <thead>
    <tr>
      <th>Tracking number</th>
      <th (click)="onSort('name')" class="sortable">
        Name
        @if (sortColumn === 'name') {
          <span>
            {{ sortDirection === "asc" ? "▲" : "▼" }}
          </span>
        }
      </th>
      <th (click)="onSort('weight')" class="sortable">
        Weight (lbs)
        @if (sortColumn === 'weight') {
        <span>
          {{ sortDirection === "asc" ? "▲" : "▼" }}
        </span>
      }
      </th>
      <th (click)="onSort('status')" class="sortable">
        Status
        @if(sortColumn === 'status') {
        <span>
          {{ sortDirection === "asc" ? "▲" : "▼" }}
        </span>
      }
      </th>
      <th (click)="onSort('recipient')" class="sortable">
        Recipient
        @if (sortColumn === 'recipient') {
          <span>
            {{ sortDirection === "asc" ? "▲" : "▼" }}
          </span>
        }
      </th>
      <th (click)="onSort('deliveryAddress')" class="sortable">
        Delivery Address
        @if (sortColumn === 'deliveryAddress') {
          <span>
            {{ sortDirection === "asc" ? "▲" : "▼" }}
          </span>
        }
      </th>
      <th (click)="onSort('deliveryDate')" class="sortable">
        Delivery Date
        @if (sortColumn === 'deliveryDate') {
          <span>
          {{ sortDirection === "asc" ? "▲" : "▼" }}
        </span>
      }
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @if (GetParcels().length === 0) {
      <tr>
        <td colspan="8" style="text-align: center">No parcels available.</td>
      </tr>
    }
    @for (parcel of filteredParcels; track parcel.id) {
      <tr>
        <td>
          <span class="tracking-id" (click)="copyTrackingNumber(parcel)">
            {{ copiedParcelId === parcel.id ? "Copied!" : parcel.trackingNumber }}
          </span>
        </td>
        <td>{{ parcel.name }}</td>
        <td>{{ parcel.weight }}</td>
        <td>
          <select
            [ngModel]="parcel.status"
            (ngModelChange)="onStatusChange(parcel, $event)"
          >
            @for (status of GetStatusOptions(); track status) {
              <option [value]="status">
                {{ status }}
              </option>
            }
          </select>
        </td>
        <td>{{ parcel.recipient }}</td>
        <td>{{ parcel.deliveryAddress }}</td>
        <td>
          {{
            parcel.deliveryDate
              ? (parcel.deliveryDate | date : "yyyy-MM-dd")
              : "N/A"
          }}
        </td>
        <td class="actions">
          <button (click)="editParcel(parcel.id)" class="btn btn-warning btn-sm">
            Edit
          </button>
          <button
            (click)="openConfirmDialog(parcel.id)"
            class="btn btn-danger btn-sm"
          >
            Delete
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>

<div class="bottom-action-container">
  <div class="gradient-overlay"></div>
  <button class="add-parcel-button" routerLink="/add">+ Add Parcel</button>
</div>

@if (showConfirmDialog) {
  <app-confirm-dialog
    (confirmed)="handleConfirm($event)"
    message="Are you sure you want to delete this parcel? This action cannot be undone."
    confirmButtonText="Delete"
    cancelButtonText="Cancel"
  >
  </app-confirm-dialog>
}

@if (feedbackMessage) {
  <div class="toast-message">
    {{ feedbackMessage }}
  </div>
}
