<h2>{{ parcelId ? "Edit Parcel" : "Add a New Parcel" }}</h2>

<form (ngSubmit)="onSubmit()" #parcelForm="ngForm">
  <div>
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="parcel.name"
      required
    />
  </div>

  <div>
    <label for="weight">Weight (lbs):</label>
    <input
      type="number"
      id="weight"
      name="weight"
      [(ngModel)]="parcel.weight"
      required
    />
  </div>

  <div>
    <label for="recipient">Recipient:</label>
    <input
      type="text"
      id="recipient"
      name="recipient"
      [(ngModel)]="parcel.recipient"
      required
    />
  </div>

  <div>
    <label for="deliveryAddress">Delivery address:</label>
    <input
      type="text"
      id="deliveryAddress"
      name="deliveryAddress"
      [(ngModel)]="parcel.deliveryAddress"
      required
    />
  </div>

  <div>
    <label for="deliveryDate">Delivery date:</label>
    <input
      type="date"
      id="deliveryDate"
      name="deliveryDate"
      [(ngModel)]="parcel.deliveryDate"
    />
  </div>

  <button type="submit" class="btn-submit" [disabled]="parcelForm.invalid">
    {{ parcelId ? "Update" : "Add" }} Parcel
  </button>
  <button type="button" class="btn-cancel" (click)="onCancel()">Cancel</button>
</form>
